html, body
{
	padding: 0;
	margin: 0;
}
body {
	background-color: #eee;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	color: #330;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: #333;
	text-decoration: underline;
}
pre
{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#page nav
{
	display: none;
}

#header,
.header,
#footer
{
	background: #999;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 50px;
}
#header a,
.header a
{
	background: center center no-repeat transparent;
	background-image: url(../images/indice.png);

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
#header a.friends,
.header a.friends
{
	background-image: url(../images/add25.png);
}
#header a.right,
.header a.right
{
	left: auto;
	right: 10px;
}
#content,
.content
{
	padding: 20px;
}
